    <div class="page-header">
      <h1>Registration</h1>
    </div>

    <div class="row">
      <div class="span7 offset1"></div>
    </div><br/>

    <div class="row">
      <div class="span4">
        <div class="alert alert-success">
<p>Already registered? <strong> <%= link_to 'Go here to login!', :controller => 'admin', :action => 'login'%></strong></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="alert alert-block">
          <p>You will need a username and password to get started with the judging and
          confessing, please fill out the form below.</p>
        </div>
      </div>
    </div>


<%= render 'form' %>

<p style="color:white;"><span class="label"><%= link_to 'Back', members_path %></span></p>
