<title>eZange : About</title>

<body>
<div class="container"><!-- Masthead
================================================== -->
<div class="page-header">
<h1>About</h1>
</div>

<div class="row">
<div class="span12">
<div class="alert alert-block">
<p>eZange is a new website that allows people of the world to
confess their sins and improprieties publicly.</p>
<p>The site will be a global showcase of people's missteps - from
racism to fraud to infidelities to cheating on taxes.</p>
<p>What is unique about this website is that it gives individuals
an opportunity to publicly relieve themselves of their mental
burden, and allow other users and web site visitors to see where
issues of injustice are happening throughout the world.</p>
<p>There will also be an option for nonprofits, NGOs, and
appropriate advocacy groups to weigh in on these injustices and
give users more information about them as well as offering an
outlet for making donations to their causes.</p>
</div>
</div>
</div>
</div>
