
  <title>eZange : Contact</title>
  
 
    <div class="page-header">
      <h1>Contact</h1>
    </div>

    <div class="row">
      <div class="span7 offset1"></div>
    </div><br/>

    <form name="contact" action="" method="get">
      <div class="row">
        <div class="span4" id="map_canvas" style="width:600px;">
          <div class="alert alert-block">
            <div class="control-group">
              <label class="control-label" for="textarea">Say 'Hello' or something nice
              to the hardworking people at eZange. We will happily answer any questions
              you may have.<br />
              <br /></label>

              <div class="controls">
                <div class="span"></div>
                <textarea class="input-large" id="textarea" rows="10" style="width:500px;">
</textarea>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>





